* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(73, 192, 204);
  background: -moz-linear-gradient(
    129deg,
    rgba(73, 192, 204, 1) 38%,
    rgba(101, 151, 247, 1) 72%,
    rgba(96, 118, 239, 1) 100%
  );
  background: -webkit-linear-gradient(
    129deg,
    rgba(73, 192, 204, 1) 38%,
    rgba(101, 151, 247, 1) 72%,
    rgba(96, 118, 239, 1) 100%
  );
  background: linear-gradient(
    129deg,
    rgba(73, 192, 204, 1) 38%,
    rgba(101, 151, 247, 1) 72%,
    rgba(96, 118, 239, 1) 100%
  );
}

h2 {
  color: #4d6fb3;
  opacity: 0.9;
  font-weight: 500;
}

h3 {
  color: #4d6fb3;
  opacity: 0.9;
  font-weight: 500;
}

.circle1,
.circle2 {
  background: linear-gradient(
    100.76deg,
    rgba(255, 255, 255, 0.02) -4.9%,
    rgba(255, 255, 255, 0.3) 85.54%
  );
  backdrop-filter: blur(100px);

  border-radius: 50%;
  transform: rotate(-100.77deg);
  position: absolute;
  width: 30rem;
  height: 30rem;
}

.circle1 {
  top: 4%;
  right: 10%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.glass {
  display: flex;
  margin: 1rem;
  width: 1200px;

  background: linear-gradient(
    111.52deg,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(1.3rem);

  border-radius: 15px;
  z-index: 3;
}

.dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  padding: 3rem 2rem;

  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px 0 0 15px;

  background: linear-gradient(
    111.52deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}

.my-info {
  text-align: center;
}

.my-info img {
  width: 70%
}

.my-info p {
  font-weight: 400;
  color: #565656;
  opacity: 0.9;
}

.links {
  margin-top: 2rem;
}

.link {
  display: flex;
  align-items: center;
  padding: 0.7rem;
}

.link h3 {
  margin-left: 1rem;
}

.skills {
  flex: 2;
  padding: 3rem 6rem;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  background: linear-gradient(
    91.95deg,
    rgba(255, 255, 255, 0.8) 0%,
    #ffffff 100%
  );
  box-shadow: 6px 8px 11px -3px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.card-img {
  display: flex;
  align-items: center;
  width: 100px;
}

.card-img img {
  border-radius: 10px;
  max-width: 80%;
  max-height: 9;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #8d8d8d;
}

.progress {
  width: 400px;
  height: 25px;
  background: linear-gradient(233.47deg, #65dfc9 7.8%, #6596f6 99.04%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 95%;
}

.percentage {
  display: flex;
  align-items: flex-end;
}
